body {
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
  color: #f8f9fa;
  scroll-behavior: smooth;
}

#back-to-top {
  color: #e66c07;
  font-size: 2rem;
  position: fixed;
  bottom: 50%;
  left: 10px;
  transform: translateY(50%);
  cursor: pointer;
  z-index: 999;
}

#back-to-top:hover {
  color: #2b385b;
}

/* Index */

header.index {
  background: url(../assets/banner-initial.png) no-repeat top fixed;
  background-size: cover;
}

.btn-red {
  font-size: 1.6rem;
  padding: 18px 8px 8px 8px;
  width: 11.6rem;
  height: 78px;
  background-color: #e50914;
  color: #f8f9fa;
}

.btn-red:hover {
  background-color: #b6060f;
}

.accordion-button {
  --bs-accordion-btn-icon: none;
  --bs-accordion-btn-active-icon: none;
  background-color: #303030;
  font-size: 1.6rem;
  padding: 1.6rem;
  color: #f8f9fa;
}

.accordion-button:focus {
  border: 1px solid #031c3f;
  background-color: #303030;
  color: #f8f9fa;
}

.accordion-button::after {
  background-image: url("../assets/add.svg");
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../assets/add.svg");
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed) {
  background-color: #303030;
  color: #f8f9fa;
}

footer {
  font-size: 0.9rem;
  font-weight: 400;
}

footer .footer-text {
  font-size: 1.02rem;
}

/* Home */

header.home {
  background: url(../assets/growcast-01.png) no-repeat top;
  background-size: cover;
  min-height: 60vh;
}

header .small {
  font-size: 0.9rem;
}

/* Transitions */

/* Thumbnails */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.video-title {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.video-title:hover {
  opacity: 1;
}

/* Navbar links */
.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-sink:hover,
.hvr-sink:focus,
.hvr-sink:active {
  transform: translateY(8px);
}

/* Thumbnail Titles */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #072f79;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  transform: scaleX(1);
}
